@import "../globals";

.auth {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(129.96deg,#ff2f2f 10.43%,#000460 92.78%),radial-gradient(100% 246.94% at 100% 0,#fff 0,#020063 100%),linear-gradient(58.72deg,#2200f2,#530000),linear-gradient(154.03deg,#b70000,#ff003d 74.04%),linear-gradient(341.1deg,red 7.52%,#0038ff 77.98%),linear-gradient(136.23deg,#00c2ff 11.12%,red 86.47%),radial-gradient(57.37% 100% at 50% 0,#b50000 0,#0034bb 100%);
  background-blend-mode: overlay,color-burn,screen,overlay,difference,difference,normal;
}

.container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 700px;

  > .inner {
    background: var(--veles-color-background);
    color: var(--veles-color-foreground);
    border-radius: 10px;
    padding: var(--veles-layout-padding);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 2px 1px 40px rgba(black, .5);
  }

  > footer {
    padding: var(--veles-layout-padding);
    color: white;
    text-align: center;
    opacity: .5;
  }

  @media(max-width: 700px) {
    border-radius: 0;
  }

  h1 {
    margin-bottom: var(--veles-layout-padding);
  }

  h2 {
    margin-top: 0;
    margin-bottom: var(--veles-layout-padding);
  }

  .splitChoice {
    width: calc(100% + 40px);
    margin: -20px;
    margin-top: var(--veles-layout-padding);
    display: flex;

    > a {
      padding: var(--veles-layout-padding);
      width: 50%;
      color: var(--veles-color-foreground);
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      > svg {
        width: 60px;
        height: 60px;
        stroke-width: 1;
        margin-bottom: var(--veles-layout-padding);
      }

      &:first-child {
        border-right: thin solid var(--veles-color-border);
      }
    }
  }
}